################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinanceBot/obj
/BinanceBot/bin/Debug
/BinanceBot/.vs/BinanceBot
